# Function
### print ชื่อ xxx นามสกุ yyy รหัส zzz
### print เกรด วิชา stat 1 >> AAA ของเพื่อนในแถว (ใช้ภาษาpython3.7ในการจัดการ)

In [15]:
a = 'ชื่อ พันทิพา นามสกุล มุขกัง รหัส 603021876-4'
print(a)

ชื่อ พันทิพา นามสกุล มุขกัง รหัส 603021876-4

In [6]:
name = 'พันทิพา'
surname = 'มุขกัง'
ID = '603021876-4'

b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ พันทิพา นามสกุล มุขกัง รหัส 603021876-4

### function tenplate
##### ทำโค้ดให้เป้นmarkdown

``` python
def print_line1(Input):
    do_sometgin
    return
```

In [ ]:
### normal

In [9]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [11]:
print(print_line1('มุทิตา','บุตะเขียว','603021882-9'))

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9

### function without output

In [13]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรด stat1 >>> {grade}'
    print(st2)

In [14]:
print_2lines('มุทิตา','บุตะเขียว','ุ603021882-9','A')

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส ุ603021882-9
เกรด stat1 >>> A

In [16]:
def print_line1(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรด stat1 >>> {grade}'
    print(st2)
print_2lines('พันทิพา','มุขกัง','ุ603021876-4','A')
print_2lines('มุทิตา','บุตะเขียว','ุ603021882-9','A')
print_2lines('จันทราภรณ์','สมสวน','ุ603021857-8','A')

ชื่อ พันทิพา นามสกุล มุขกัง รหัส ุ603021876-4
เกรด stat1 >>> A
ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส ุ603021882-9
เกรด stat1 >>> A
ชื่อ จันทราภรณ์ นามสกุล สมสวน รหัส ุ603021857-8
เกรด stat1 >>> A

#### error ตรงเว้นวรรค

In [17]:
def print_line1(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรด stat1 >>> {grade}'
     print(st2)

IndentationError: unexpected indent (<ipython-input-17-cf76db466169>, line 5)

#### error คือหลังreturnจะไม่รันการทำงาน

In [18]:
def print_line1(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return(st)
    st2 = f'เกรด stat1 >>> {grade}'
    print(st2)

## function without input

In [20]:
def two_x_three():
    x = 2*3
    return x

In [21]:
two_x_three()

6

### function with default argument

In [26]:
def print_2lines_default(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรด stat1 >>> {grade}'
    print(st2)

In [27]:
print_2lines_default('พันทิพา','มุขกัง','603021876-4')

ชื่อ พันทิพา นามสกุล มุขกัง รหัส 603021876-4
เกรด stat1 >>> F

In [28]:
print_2lines_default('พันทิพา','มุขกัง','603021876-4','A+')

ชื่อ พันทิพา นามสกุล มุขกัง รหัส 603021876-4
เกรด stat1 >>> A+

In [30]:
print_2lines_default(surname1 = 'พันทิพา',name1 = 'มุขกัง',ID1 = '603021876-4')  ###การกำหนดตัวแปร

ชื่อ มุขกัง นามสกุล พันทิพา รหัส 603021876-4
เกรด stat1 >>> F

# Loop  วนซ้ำ

``` 
for each_member in listA:
    do something
```

In [31]:
for i in [1,2,3]:
    print(i)
###  เอาสมาชิกที่อยู่ในin

1
2
3

In [37]:
for i in 'Pantipa':  ### สำหรับทุกๆiที่เป็น spintในนี้ให้อยู่ในprint
    print(f'{i} -> /')        ## เว้นวรรค
    print(' ')

P -> /

a -> /

n -> /

t -> /

i -> /

p -> /

a -> /

## 1 สร้างlist ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน 
## 2 วนลูป print ประโยคว่า 'ชื่อ(เรา) รักหรืออะไรก็ได้ เพื่อน ทุกคนในแถวยาว'

In [34]:
list_name = ['Phing','Bam','Nat','Pang','Candy','Fluke']

In [35]:
list_name

['Phing', 'Bam', 'Nat', 'Pang', 'Candy', 'Fluke']

In [66]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [67]:
print_feeling('Aoy','luv','Bam')  ## test

Aoy luv Bam

In [46]:
for f in list_name:
    print_feeling('Aoy','luv',f)

Aoy luv Phing
Aoy luv Bam
Aoy luv Nat
Aoy luv Pang
Aoy luv Candy
Aoy luv Fluke

### loop in function สร้างลูปเข้าไปในฟังก์ชัน

In [64]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [54]:
print_feelings('Aoy','luv', list_name)

Aoy luv Phing
Aoy luv Bam
Aoy luv Nat
Aoy luv Pang
Aoy luv Candy
Aoy luv Fluke

# loop in dict

In [55]:
name_grade = {'พันทิพา':'B','ศุภนิตา':'C','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [56]:
name_grade['ปนัดดา']

'A'

In [59]:
name_grade.keys()  ### เป็นคีย์ที่บอกชื่อแต่ละคน

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [60]:
for i in name_grade.keys():
    print(f'{i}ได้เกรด {name_grade[i]}')

พันทิพาได้เกรด B
ศุภนิตาได้เกรด C
ปนัดดาได้เกรด A
ทรงกลดได้เกรด F

In [ ]:
## ลูปสามารถซ้อนลูปได้

In [68]:
for name1 in list_name:
    for name2 in list_name:
        print_feeling(name1,'luv',name2)

Phing luv Phing
Phing luv Bam
Phing luv Nat
Phing luv Pang
Phing luv Candy
Phing luv Fluke
Bam luv Phing
Bam luv Bam
Bam luv Nat
Bam luv Pang
Bam luv Candy
Bam luv Fluke
Nat luv Phing
Nat luv Bam
Nat luv Nat
Nat luv Pang
Nat luv Candy
Nat luv Fluke
Pang luv Phing
Pang luv Bam
Pang luv Nat
Pang luv Pang
Pang luv Candy
Pang luv Fluke
Candy luv Phing
Candy luv Bam
Candy luv Nat
Candy luv Pang
Candy luv Candy
Candy luv Fluke
Fluke luv Phing
Fluke luv Bam
Fluke luv Nat
Fluke luv Pang
Fluke luv Candy
Fluke luv Fluke

# conditional  ประโยคเงื่อนไข

```Python
if condition:
    do something
elif condition:
    do another thing
else:
    do ...
```

In [71]:
for name1 in list_name:
    for name2 in list_name:
        if name1 != name:
            print_feeling(name1,'รัก',name2)

Phing รัก Phing
Phing รัก Bam
Phing รัก Nat
Phing รัก Pang
Phing รัก Candy
Phing รัก Fluke
Bam รัก Phing
Bam รัก Bam
Bam รัก Nat
Bam รัก Pang
Bam รัก Candy
Bam รัก Fluke
Nat รัก Phing
Nat รัก Bam
Nat รัก Nat
Nat รัก Pang
Nat รัก Candy
Nat รัก Fluke
Pang รัก Phing
Pang รัก Bam
Pang รัก Nat
Pang รัก Pang
Pang รัก Candy
Pang รัก Fluke
Candy รัก Phing
Candy รัก Bam
Candy รัก Nat
Candy รัก Pang
Candy รัก Candy
Candy รัก Fluke
Fluke รัก Phing
Fluke รัก Bam
Fluke รัก Nat
Fluke รัก Pang
Fluke รัก Candy
Fluke รัก Fluke

In [72]:
if True:
    print('Yes')

Yes

In [73]:
if False:
    print('No')

In [74]:
if False:
    print('Yes')
else:
    print('No')    ##การเช็กเงื่อนไข

No

In [76]:
if 1 == 1:
    print('1=1')

1=1

# == เช็กว่าตัวหน้าเท่ากับตัวหลังไม ,!=คือเช็คว่าไม่เท่ากันหรือป่าว ,>= ตัวข้างหน้ามากกว่าเท่ากับตัวหลังหรือเปล่า,<=ตัวหน้าน้อยกว่าเท่ากับตัวหลังหรือเปล่า , >ตัวหน้ามากกว่าตัวหลัง , < ตัวหน้าน้อยกว่าตัวหลัง

# HW
g-upo function ตัดเกรด โดยที่ input เป็คะแนน (0-100) output เป็นเกรด(F-A)
### input = [1,50,65,90,101,-5,49]